/*  your css code here. If applicable */
.container{
	display: flex;
  justify-content: center;	
	padding: 50px;
   
	width:400px;
	
	background-color:grey;
	border:5px solid black;
	border-radius:50px;
	
}
.container>div{
	margin: 10px;
}

.green{
	width:100px;
	height:100px;
	background-color:green;
	border:5px solid green;
	border-radius:50%;
}
.yellow{
	width:100px;
	height:100px;
	background-color:yellow;
	border:5px solid yellow;
	border-radius:50%;
}

.red{
	width:100px;
	height:100px;
	background-color:red;
	border:5px solid red;
	border-radius:50%;
}

